@tailwind base;
@tailwind components;
@tailwind utilities;

.fr {
    float: right;
}
.text-right {
    text-align: right;
}
.m-16 {
    margin: 16px !important;
}
.mr-4 {
    margin-right: 1rem !important;
}
.mt-24 {
    margin-top: 24px !important;
}
.bg-blue-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity)) !important;
}
.bg-gray-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity)) !important;
}
.rounded-full {
    border-radius: 9999px;
}

.h-1\.5 {
    height: 0.375rem;
}
.h-fit-content {
    height: fit-content;
}

.price-input {
    text-align: center;
    color: #01016F;
    font-size: 32px;
}
.price-input.disabled {
    background-color: #dadada;
    cursor: no-drop;
}
.space-between {
    justify-content: space-between;
}
.detail-item {
    padding: 1rem;
}
.detail-item:not(:last-child) {
    border-bottom: 1px solid #E5E7EB;
}
.result {
    border-top: 2px solid #E5E7EB;
}
.result-span {
    color: #01016F;
    background-color: #F2F3F5;
    padding: 4px 16px;
    border-radius: 24px;
}
.result:has(.detail-item) {
    max-height: calc(64vh - 280px);
    overflow: auto;
}
.add-more {
    cursor: pointer;
    text-align: center;
    border: 1px solid #E5E7EB;
    border-radius: 24px;
    margin-top: calc(1vh - 8px);
}
.add-more > p {
    padding: 16px;
}